html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: rgb(175, 184, 175) url("images/retrosupply.jpg") no-repeat;
  background-size: cover;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li a {
  display: inline-block;
  height: 4rem;
  text-decoration: none;
  color: rgb(32, 41, 32);
}
